argon2-cffi==19.2.0
asgiref==3.2.3
astroid==2.3.3
beautifulsoup4==4.8.1
bs4==0.0.1
cachetools==4.1.0
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
colorama==0.4.1
Django==3.0.6
gunicorn
httplib2==0.17.2
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.4.1
mccabe==0.6.1
numpy==1.22.0
oauth2client==4.1.3
pandas==0.25.3
pgeocode==0.2.1
Pillow==7.1.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylint==2.4.4
python-dateutil==2.8.1
python-http-client==3.2.7
pytz==2019.3
pyzipcode==2.0.0
requests==2.22.0
rsa==4.0
schedule==0.6.0
sendgrid==6.2.2
simplejson==3.17.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.1
urllib3==1.25.7
virtualenv==16.7.7
wrapt==1.11.2
xlrd==1.2.0
