{% extends 'base.html' %}



{% block content %}
<h5>This website will show you Air Quality Index by entering 6 digit Pincode of that area. Color will be changes according to the polluted area.</h5>
<h6>Read</h6>
<p>The air quality index (AQI) is an index for reporting air quality on a daily basis. It is a measure of how air pollution affects one's health within a short time period. The purpose of the AQI is to help people know how the local air quality impacts their health. The Environmental Protection Agency (EPA) calculates the AQI for five major air pollutants, for which national air quality standards have been established to safeguard public health.
    <ol> 1. Ground-level ozone <br>
    2. Particle pollution/particulate matter (PM2.5/pm 10) <br>
    3. Carbon Monoxide <br>
    4. Sulfur dioxide <br>
    5. Nitrogen dioxide    </ol>

    The higher the AQI value, the greater the level of air pollution and the greater the health concerns. The concept of AQI has been widely used in many developed countries for over the last three decades. AQI quickly disseminates air quality information in real-time.</p>
        
{% endblock %}
